
  <div class="container">
    <h2>Información de la cotización</h2>
    <form >
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombres" style="font-weight: bold;">Fecha de Solicitud:</label>
                    <input formControlName="nombres" id="nombres" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellidos" style="font-weight: bold;">Estatus:</label>
                    <input formControlName="apellidos" id="apellidos" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="departamento" style="font-weight: bold;">Solicitante:</label>
                  <input formControlName="apellidos" id="apellidos" type="text" class="form-control">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="estatus" style="font-weight: bold;">Codigo Proveedor:</label>
                  <input formControlName="apellidos" id="apellidos" type="text" class="form-control">
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="contra" style="font-weight: bold;">Razon Social:</label>
                <input formControlName="contra" id="contra" type="text" class="form-control">
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="estatus" style="font-weight: bold;">Codigo Material:</label>
                  <input formControlName="apellidos" id="apellidos" type="text" class="form-control">
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="contra" style="font-weight: bold;">Descripción:</label>
                <input formControlName="contra" id="contra" type="text" class="form-control">
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="estatus" style="font-weight: bold;">Tipo Familia:</label>
                  <input formControlName="apellidos" id="apellidos" type="text" class="form-control">
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="contra" style="font-weight: bold;">Caracteristica 1:</label>
                <input formControlName="contra" id="contra" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="estatus" style="font-weight: bold;">Caracteristica 2:</label>
                  <input formControlName="apellidos" id="apellidos" type="text" class="form-control">
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="contra" style="font-weight: bold;">Caracteristica 3:</label>
                <input formControlName="contra" id="contra" type="text" class="form-control">
            </div>
          </div>
        </div>
        <br>
    </form>
  </div>


