
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container > * {
  background-color: rgba(104, 194, 247, 0.979);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 48%; /* Ajusta el ancho de las columnas como desees */
  margin: 10px; /* Agrega un pequeño margen entre elementos */
}
#add{
  margin-left: 80%;
  margin-block-end: 5px;
}
#enviar{
  margin-top: 10px;
}
.encabezado{
  display: flex;
}
#close{
  cursor: pointer;
}
#accion{
  cursor: pointer;
  margin-right: 20px;
}
.col{
  display: flex;
}
#folio{
  font-weight: bold;
  margin-right: 5px;
}
#seccion{
  font-weight: bold;
  text-decoration: underline;
  margin-block-end: 10px;
}
ul{
  list-style: none;
}
#nombre{
  font-weight: bold;
  margin-right: 5px;
}
.modal-header{
  background-color: rgba(104, 194, 247, 0.979);
}
.modal-title{
  font-weight: bold;
}

.modal-body {
  padding: 20px;
  text-align: center;
}
#subir{
  background-color:rgba(6, 110, 170, 0.979);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
#inputArchivo {
  display: block;
  margin: 10px auto;
  padding: 8px;
  font-size: 16px;
}


#subir:hover {
  background-color: rgba(104, 194, 247, 0.979);
}
.rowpp {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.rowp {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  width: 50%; /* Para dividir en dos columnas */
  box-sizing: border-box;
  padding: 5px;
}

.table-container {
  overflow-y: auto;
  max-height: 350px; /* Ajusta la altura máxima según tus necesidades */
}

table {
  margin-bottom: 1rem;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #9a9a9b;
  width: 500px;
}
th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #8FBC8B; /* Cambia el color de fondo según tus preferencias */
  z-index: 1;
}

@media (max-width: 768px) {
  /* Estilos adicionales para dispositivos más pequeños */
  th, td {
    font-size: 12px; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }
  .container > * {
    width: 100%; /* Cambia a una columna en pantallas más pequeñas */
  }
}
input[type="date"] {
  width: 30%; /* Ajusta el ancho del campo de fecha al 100% del contenedor */
  padding: 5px; /* Añade espacio dentro del campo de fecha */
  font-size: 16px; /* Cambia el tamaño de fuente del campo de fecha */
  border: 1px solid #ccc; /* Añade un borde al campo de fecha */
  border-radius: 5px; /* Agrega bordes redondeados al campo de fecha */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}


