<body>
  <header>
    <div class="logo">
        <img src="assets\img-logo\Letras_Airtemp.png" alt="Logo">
    </div>
    <nav>
        <ul class="menu">
            <li><a routerLink=""><i class="fa-solid fa-house fa-lg"></i>Inicio</a></li>
            <li><a ><i class="fa-solid fa-bars fa-lg"></i>Menú</a>
              <ul class="submenu">
                <li><a  routerLink="/vistaAnalista"><i class="fa-solid fa-comment-dollar fa-lg"></i>Por Cotizar</a></li>
                <li><a href="#"><i class="fa-solid fa-file-invoice-dollar fa-lg"></i>Cotizadas</a></li>
                <li><a href="#"><i class="fa-solid fa-filter-circle-dollar fa-lg"></i>Rechazadas</a></li>
              </ul>
            </li>
            <!--<li><a href="#" routerLink="/formSolicitud"><i class="fa-solid fa-user-pen fa-lg"></i>Cotizaciones </a></li>
            <li><a href="#"><i class="fa-solid fa-file-pen fa-lg"></i>Cotizaciones Autorizadas</a></li>-->
            <li><a href="#" routerLink="/inicio"><i class="fa-solid fa-right-from-bracket fa-lg"></i>Salir</a></li>
        </ul>
    </nav>
</header>

<div class="card">

  <div class="table-responsive">
    <div class="container-fluid my-4">
      <table class="responsive-table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th># Solicitud</th>
              <th>Fecha Solicitud</th>
              <th>Solicitante</th>
              <th>Proyecto</th>
              <th>Codigo Material</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Dato 1</td>
                  <td>Dato 2</td>
                  <td>Dato 3</td>
                  <td>Dato 1</td>
                  <td>Dato 2</td>
                  <td>Dato 3</td>
                  <td><button class="button">
                    <span class="button-content" routerLink="/formCotizacion">Cotizar </span>
                </button></td>

              </tr>
              <tr>
                  <td>Dato 4</td>
                  <td>Dato 5</td>
                  <td>Dato 6</td>
                  <td>Dato 1</td>
                  <td>Dato 2</td>
                  <td>Dato 3</td>
                  <td>Dato 1</td>

              </tr>
              <!-- Agrega más filas según sea necesario -->
          </tbody>
      </table>
  </div>
  </div>
</div>

 <!-- FOOTER -->
 <footer class="footer">
  <div class="copy">
    Copyrigth © <span id="año-actual"></span> Airtemp de México S.A de C.V
  </div>
</footer>
</body>
