<!--<form (ngSubmit)="submit(form.value)" #form="ngForm">
  <div id="dos" class="g-col-6 g-col-md-4">
    <div class="row">
      <div class="col-md" id="close" (click)="addNewEstado(false)">

      </div>
    </div>
    <h2>Datos de la Solicitud</h2>
    <div class="row g-2">
      <label for="formGroupExampleInput" class="form-label mb-0" style="text-decoration: underline;"><strong>RESPONSABLE</strong></label>
      <div class="col-md">
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput"  value={{nomResponsable}} disabled>
          <label for="floatingInput">Nombre del Solicitante</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <select [(ngModel)]="solicitar.tipo" name="tipo" class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="Material">Material</option>
            <option value="Maquinaria">Maquinaria</option>
          </select>
          <label for="floatingSelect">Tipo de Solicitud</label>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <label for="formGroupExampleInput" class="form-label mb-0" style="text-decoration: underline;"><strong>PROVEEDOR</strong></label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [(ngModel)]="nuevoChecked" name="nuevo" (change)="onCheckboxChange()">
        <label class="form-check-label" for="inlineCheckbox1">Nuevo</label>
      </div>
      <div class="col-md ">
        <div class="form-floating">
          <input #name="ngModel" name="Rsocial" [(ngModel)]="solicitar.Rsocial" required type="text" class="form-control" id="floatingInput" placeholder="razon social">
          <label for="floatingInput">Razon Social</label>
        </div>
      </div>
      <div class="col-md mb-3">
        <div class="form-floating" *ngIf="nuevoChecked==true">
          <input #name="ngModel" name="codProv" [(ngModel)]="solicitar.codProv" required type="text" class="form-control" id="floatingInput" value="" placeholder="codigo proveedor">

          <label for="floatingInput">Codigo del Proveedor</label>
        </div>
      </div>

    </div>
    <div class="row g-2">
      <label for="formGroupExampleInput" class="form-label mb-0" style="text-decoration: underline;"><strong>CLIENTE</strong></label>
      <div class="col-md">
        <div class="form-floating">
          <input #name="ngModel" name="NomCliente" [(ngModel)]="solicitar.NomCliente" required type="text" class="form-control" id="floatingInput" placeholder="nombre del cliente">
          <label for="floatingInput">Nombre del Cliente</label>
        </div>
      </div>
      <div class="col-md mb-3">
        <div class="form-floating">
          <input #name="ngModel" name="NumParte" [(ngModel)]="solicitar.NumParte" required type="text" class="form-control" id="floatingInput" placeholder="numero de parte">
          <label for="floatingInput">Numero de Parte</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <button class="botonCrear" type="submit" [disabled]="!form.valid">Solicitar</button>
      </div>
    </div>
    <strong><pre>{{form.value | json }}</pre></strong>
  </div>
</form>-->

<!--Lo que se va a quedar-->

<body>
  <main>
      <section id="encabezado">
        <p class="text-center fw-bold fs-2">Datos de la Solicitud</p>
        <svg (click)="addNewEstado(false)" id="close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#000000" d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-3.4 14L12 13.4L8.4 17L7 15.6l3.6-3.6L7 8.4L8.4 7l3.6 3.6L15.6 7L17 8.4L13.4 12l3.6 3.6l-1.4 1.4Z"/></svg>
      </section>
      <form (ngSubmit)="submit(form.value)" #form="ngForm">
        <section id="proveedor">
          <label for="inputResponsable" class="form-label fw-bold fs-5 ">Responsable</label>
          <div id="responsableHelpBlock" class="form-text fw-semibold text-decoration-underline">Nombre</div>
          <input type="text" id="inputResponsable" class="form-control" aria-describedby="responsableHelpBlock" value={{nomResponsable}} disabled>
        </section>
        <section id="proveedor">
          <label for="inputTipo" class="form-label fw-bold fs-5">Solicitud</label>
          <div id="tipoHelpBlock" class="form-text fw-semibold text-decoration-underline">Tipo</div>
          <select [(ngModel)]="solicitar.tipo" name="tipo" class="form-select" id="inputTipo" aria-describedby="tipoHelpBlock">
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="Material">Material</option>
            <option value="Maquinaria">Maquinaria</option>
          </select>
        </section>
        <section id="proveedor">
          <label for="inputProveedor" class="form-label fw-bold fs-5">Proveedor</label>
          <div class="form-check">
            <input [(ngModel)]="nuevoChecked" name="nuevo" (change)="onCheckboxChange()" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Nuevo
            </label>
          </div>
          <div class="datos">
            <div *ngIf="nuevoChecked==true" id="codigoHelpBlock" class="form-text fw-semibold text-decoration-underline">Codigo</div>
            <input #name="ngModel" name="codProv" [(ngModel)]="solicitar.codProv" required *ngIf="nuevoChecked==true" type="text" id="codigoProveedor" class="form-control" aria-describedby="codigoHelpBlock" placeholder="">
            <div id="razonHelpBlock" class="form-text fw-semibold text-decoration-underline">Razon social</div>
            <input #name="ngModel" name="Rsocial" [(ngModel)]="solicitar.Rsocial" required type="text" id="inputRazon" class="form-control" aria-describedby="razonHelpBlock" placeholder="">
          </div>
        </section>
        <section id="proveedor">
          <label for="inputProveedor" class="form-label fw-bold fs-5">Cliente</label>
          <div id="proveedorHelpBlock" class="form-text fw-semibold text-decoration-underline">Nombre</div>
          <input #name="ngModel" name="NomCliente" [(ngModel)]="solicitar.NomCliente" required type="text" id="inputProveedor" class="form-control" aria-describedby="proveedorHelpBlock" placeholder="">
          <div id="codigoHelpBlock" class="form-text fw-semibold text-decoration-underline">Numero de parte</div>
          <input #name="ngModel" name="NumParte" [(ngModel)]="solicitar.NumParte" required type="text" id="codigoProveedor" class="form-control fst-italic" aria-describedby="codigoHelpBlock" placeholder="ingresar 'SN' si no se tiene numero de parte">
        </section>
        <section class="position-relative">
          <button class="btn btn-primary" [disabled]="!form.valid">Solicitar</button>
        </section>
        <!--<strong><pre>{{form.value | json }}</pre></strong>-->
      </form>
    <br>
  </main>
</body>
