<body>
    <!--formulario de solicitud-->
    <div class="row"  id="formSoli">
      <h2>Solicitud de cotización</h2>
      <div class="col" id="container">
        <div class="datos">
          <div class="form-floating">
            <strong>RESPONSABLES</strong>
          </div>
          <div class="form-floating">
            <input type="txt" class="form-control" id="floatingInputValue" placeholder="Solicitante">
            <label for="floatingInputValue">Solicitante</label>
          </div>
          <div class="form-floating">
            <strong>PROVEEDOR</strong>
          </div>
          <div class="form-floating mb-2">
            <input type="txt" class="form-control" id="floatingInput" placeholder="Codigo">
            <label for="floatingInput">Dodigo</label>
          </div>
          <div class="form-floating">
            <input type="txt" class="form-control" id="floatingInput" placeholder="Razon Social">
            <label for="floatingInput">Razon Social</label>
          </div>
          <div class="form-floating">
            <strong>Cliente</strong>
          </div>
          <div class="form-floating mb-2">
            <input type="txt" class="form-control" id="floatingInput" placeholder="Nombre">
            <label for="floatingInput">Nombre</label>
          </div>
          <div class="form-floating">
            <input type="txt" class="form-control" id="floatingInput" placeholder="Num. Parte">
            <label for="floatingInput">Num. Parte</label>
          </div>
          <div class="form-floating">
            <strong>Material</strong>
          </div>
          <div class="form-floating">
            <select class="form-select" id="floatingSelect" [(ngModel)]="selectedValue" aria-label="Floating label select example">
              <option value="0" selected >Seleccionar</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            <label for="floatingSelect">Cantidad de Material</label>
          </div>
          <br>
          <button>
            <span class="circle1"></span>
            <span class="circle2"></span>
            <span class="circle3"></span>
            <span class="circle4"></span>
            <span class="circle5"></span>
            <span class="text">Solicitar</span>
        </button>
          <br>
        </div>
        <div class="material">
          <!--FORMULARIO PARA 1 MATERIAL-->
          <div class="materialone" *ngIf="selectedValue >= 1">
            <div class="form-floating">
              <strong>Material</strong>
            </div>
            <div class="form-floating mb-2">
              <!--<input type="txt" class="form-control" id="floatingInput" placeholder="Descripcion">-->
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 50px"></textarea>
              <label for="floatingInput">Descripcion</label>
            </div>
            <div class="form-floating mb-2">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Tipo Familia">
              <label for="floatingInput">Tipo Familia</label>
            </div>
            <div class="form-floating mb-2">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Caracteristica 1">
              <label for="floatingInput">Caracteristica 1</label>
            </div>
            <div class="form-floating">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Caracteristica 2">
              <label for="floatingInput">Caracteristica 2</label>
            </div>
          </div>
          <!--FORMULARIO PARA 2 MATERIALES-->
          <div class="materialtwo" *ngIf="selectedValue >= 2">
            <div class="form-floating">
              <strong>Material</strong>
            </div>
            <div class="form-floating mb-2">
              <!--<input type="txt" class="form-control" id="floatingInput" placeholder="Descripcion">-->
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 50px"></textarea>
              <label for="floatingInput">Descripcion</label>
            </div>
            <div class="form-floating mb-2">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Tipo Familia">
              <label for="floatingInput">Tipo Familia</label>
            </div>
            <div class="form-floating mb-2">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Caracteristica 1">
              <label for="floatingInput">Caracteristica 1</label>
            </div>
            <div class="form-floating">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Caracteristica 2">
              <label for="floatingInput">Caracteristica 2</label>
            </div>
          </div>
          <!--FORMULARIO PARA 3 MATERIALES-->
          <div class="materialthree" *ngIf="selectedValue >= 3">
            <div class="form-floating">
              <strong>Material</strong>
            </div>
            <div class="form-floating mb-2">
              <!--<input type="txt" class="form-control" id="floatingInput" placeholder="Descripcion">-->
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 50px"></textarea>
              <label for="floatingInput">Descripcion</label>
            </div>
            <div class="form-floating mb-2">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Tipo Familia">
              <label for="floatingInput">Tipo Familia</label>
            </div>
            <div class="form-floating mb-2">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Caracteristica 1">
              <label for="floatingInput">Caracteristica 1</label>
            </div>
            <div class="form-floating">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Caracteristica 2">
              <label for="floatingInput">Caracteristica 2</label>
            </div>
            <br>
          </div>
          <!--FORMULARIO PARA 4 MATERIALES-->
          <div class="materialfour" *ngIf="selectedValue >= 4">
            <div class="form-floating">
              <strong>Material</strong>
            </div>
            <div class="form-floating mb-2">
              <!--<input type="txt" class="form-control" id="floatingInput" placeholder="Descripcion">-->
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 50px"></textarea>
              <label for="floatingInput">Descripcion</label>
            </div>
            <div class="form-floating mb-2">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Tipo Familia">
              <label for="floatingInput">Tipo Familia</label>
            </div>
            <div class="form-floating mb-2">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Caracteristica 1">
              <label for="floatingInput">Caracteristica 1</label>
            </div>
            <div class="form-floating">
              <input type="txt" class="form-control" id="floatingInput" placeholder="Caracteristica 2">
              <label for="floatingInput">Caracteristica 2</label>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
</body>


