
body {
  margin: 0;
  padding: 0;
}

section {
  background-color: #b9e0fe;
  border-radius: 15px;
  width: 70%; /* Ajusta el ancho de la sección según tus necesidades */
  margin: 0% auto; /* Centra la sección verticalmente y aplica un margen en los lados */
  padding: 2%; /* Agrega un pequeño espacio alrededor del contenido de la sección */
}

