<body>
  <header>
    <div class="logo">
        <img src="assets\img-logo\Letras_Airtemp.png" alt="Logo">
    </div>
    <nav>
        <ul class="menu">
            <li><a href="#" routerLink="/analista/:id"><i class="fa-solid fa-ban fa-lg"></i>Cancelar</a></li>
            <!--<li><a href="#" routerLink="/formSolicitud"><i class="fa-solid fa-user-pen fa-lg"></i>Solicitar Cotización </a></li>-->
            <!--<li><a href="#"><i class="fa-solid fa-file-pen fa-lg"></i>Ver solicitudes</a></li>-->
            <li><a href="#" routerLink="/inicio"><i class="fa-solid fa-right-from-bracket fa-lg"></i>Salir</a></li>
        </ul>
    </nav>
  </header>
   <!--formulario de solicitus-->
   <div class="container">
      <div class="title">
        <h2>FORMULARIO DE COTIZACIÓN</h2>
      </div>
      <div class="encabezado">
        <label for="nombre">COTIZACIÓN</label>
        <label for="nombre">FOLIO</label>
      </div>
      <div class="solicitud">
        <div class="campo">
          <label for="nombre">SOLICITUD</label>
          <input type="text1" id="nombre" name="nombre" required>
        </div>
      </div>
      <div class="fechas">
        <label for="nombre" class="delinear">FECHAS</label>
        <div class="campos6">
          <label for="nombre">Cotización</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">Vigencia</label>
          <input type="text" id="nombre" name="nombre" required>
         <label for="nombre">Autorización</label>
         <input type="text" id="nombre" name="nombre" required>
        </div>
      </div>
      <div class="responsables">
        <label for="nombre" class="delinear">RESPONSABLES</label>
        <div class="campos4">
          <label for="nombre">Analista</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">Autorizo</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
      </div>
      <div class="proveedor">
        <label for="nombre" class="delinear">PROVEEDOR</label>
        <div class="campos">
          <label for="nombre">CODIGO</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">Razon Social</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">Certificaciones</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
      </div>
      <div class="material">
        <label for="nombre" class="delinear">MATERIAL</label>
        <div class="campos">
          <label for="nombre">CODIGO</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">DESCRIPCION</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">TIPO FAMILIA</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">CARACTERISTICA 1</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">CARACTERISTICA 2</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">CARACTERISTICA 3</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">CARACTERISTICA 4</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">CARACTERISTICA 5</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
      </div>
      <div class="precios">
        <label for="nombre" class="delinear">PRECIOS</label>
        <div class="campos">
          <label for="nombre">Fabricación</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">LME</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">Premiun</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">Total</label>
          <input type="text" id="nombre" name="nombre" required>
          <label for="nombre">Icoterm</label>
          <input type="text" id="nombre" name="nombre" required>
        </div>
      </div>
      <div class="boton">
        <button type="submit">Autorizar</button>
    </div>
    </div>
<!-- FOOTER -->
<footer class="footer">
  <div class="copy">
    Copyrigth © <span id="año-actual"></span> Airtemp de México S.A de C.V
  </div>
</footer>
</body>
