<body>

  <main>
    <div class="container-fluid">
        <div class="row">
            <!-- CONTENEDOR IZQUIERDO-->
            <div class="col-md-12 image-container">
                <!-- Imagen del contenedor izquierdo que cambia segun la fecha establecida en el archivo Index.js -->
                <img id="imagen" src="assets/img-index/Imagen3.jpg" alt="Imagen" class="img-fluid img-extendida">
            </div>
            <!-- CONTENEDOR DERECHO -->
            <div class="col-md-12 main-content-container">
                  <img class="letrasAirtemp" src="assets/img-logo/Letras_Airtemp.png">
                <form class="formulario" #forma="ngForm" (ngSubmit)="onSubmit(forma)">
                  <div class="alert alert-danger" *ngIf="error">
                    <strong>Alerta!</strong> Usuario o Contraseña Inválida.
                  </div>
                    <a class="login">Log in</a>
                    <div class="inputBox">
                        <input #name="ngModel" name="usuario" [(ngModel)]="usuario" id="usuario"  type="text" required="required">
                        <span class="user">Username</span>
                    </div>

                    <div class="inputBox">
                        <input #name="ngModel" name="contra" [(ngModel)]="contra"  id="contra" type="password" required="required">
                        <span>Password</span>
                    </div>

                    <button type="submit" class="enter">Enter</button>
                  </form>
            </div>
        </div>
    </div>
</main>
</body>


