
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*estilos para el titulo*/
h2{
  text-align: center;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}
#see{
  cursor: pointer;
}
#close{
  margin-left: 90%;
  cursor: pointer;
}
.vencida {
  background-color: #ff0000a8; /* Cambia el color de fondo a rojo claro */
  color: #000000; /* Cambia el color de texto a rojo oscuro */
  /*font-weight: bold; /* Hace que el texto sea más llamativo */
}

/* Estilo para filas próximas a vencer (fondo amarillo) */
.proxima-vencer {
  background-color: #ffff00bd; /* Fondo amarillo claro */
  color: #000000; /* Texto en naranja */
  /*font-weight: bold; /* Texto en negrita */
}

#seeDoc{
  background-color: #c0c0c0;
  cursor: pointer;
  border-radius: 5px;
}

/*estilos para la tabla*/
.table-container {
  overflow-x: auto;
  max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  text-align: center;
  border: 1px solid #dee2e6;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #005ba2;
  color: #ededed;
}

@media (max-width: 768px) {
  /* Estilos adicionales para dispositivos más pequeños */
  th, td {
    font-size: 12px; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }
  h2{
    font-size: 15px;
  }
}
