<body>
  <nav class="menu">
    <img src="assets\img-logo\Letras_Airtemp.png">
      <ul>
          <li><a  routerLink="/porCotizar"><i class="fa-solid fa-comment-dollar fa-lg"></i>Por Cotizar</a></li>
          <li><a routerLink="/aprobados"><i class="fa-solid fa-file-invoice-dollar fa-lg"></i>Cotizadas</a></li>
          <li><a routerLink="/cotizacionRechazada"><i class="fa-solid fa-filter-circle-dollar fa-lg"></i>Rechazadas</a></li>
          <li><a routerLink="/cotizacionVencida"><i class="fa-solid fa-hourglass-end fa-lg"></i>Vencidas</a></li>
          <li><a routerLink=""><i class="fa-solid fa-right-from-bracket fa-lg"></i>Salir</a></li>
      </ul>
  </nav>
  <!--Card para el lado derecho donde se podra ver la tabla del personal-->
  <div class="card">
    <h2>Añadir Personal</h2>
    <form [formGroup]="form" (ngSubmit)="submit">
        <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input formControlName="nombres" id="nombres" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos:</label>
          <input formControlName="apellidos" id="apellidos" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="departamento">Departamento:</label>
          <select class="form-select" formControlName="departamento" id="departamento">
            <!--<option selected>Open this select menu</option>-->
            <option value="Solicitante">Solicitante</option>
            <option value="Analista">Analista</option>
            <option value="Director">Director</option>
          </select>
        </div>
        <div class="form-group">
          <label for="contraseña">Contraseña:</label>
          <input formControlName="contra" id="contra" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="estatus">Estatus:</label>
          <select class="form-select" formControlName="estatus" id="estatus">
            <!--<option selected>Open this select menu</option>-->
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Registrar</button>
    </form>
</div>
</body>
