<div class="container">
  <div class="solicitud">
    <h2 class="titulo-con-linea">Datos de la solicitud</h2>
    <section>
      <div class="row">
        <div class="col" id="datos">
          <label id="folio">FOLIO: </label>
          <input type="text" class="form-control" value="1232" style="width: 20%;" disabled>
        </div>
      </div>
      <div class="row">
        <label id="seccion">RESPONSABLE</label>
        <div class="col">
          <label id="nombre">Nombre</label>
          <input type="text" class="form-control" value="Carlos Obed Cab Tun" style="width: 100%;" disabled>
        </div>
      </div>
      <div class="row">
        <label id="seccion">PROVEEDOR</label>
        <div class="col">
          <label id="nombre">Codigo</label>
          <input type="text" class="form-control" value="5455" style="width: 100%;" disabled>
        </div>
        <div class="col">
          <label id="nombre">Razon Social</label>
          <input type="text" class="form-control" value="Aluminex" style="width: 100%;" disabled>
        </div>
      </div>
      <div class="row">
        <label id="seccion">CLIENTE</label>
        <div class="col">
          <label id="nombre">Nombre</label>
          <input type="text" class="form-control" value="Roberth Huchim Caamal" style="width: 100%;" disabled>
        </div>
        <div class="col">
          <label id="nombre">Numero de parte</label>
          <input type="text" class="form-control" value="2555" style="width: 100%;" disabled>
        </div>
      </div>
    </section>
    <section>
    </section>
  </div>
  <div class="divider"></div> <!-- Divisor vertical -->
  <div class="material">
    <h2 class="titulo-con-linea">Datos del material</h2>
    <section>
      <button id="add" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
        + Material
      </button>
    </section>
  </div>
</div>
<!-------Modal para los registros de los materiales y sus caracteristicas------->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Agregar Material</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Descripción del material:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Familia del material:</label>
            <select class="form-select" aria-label="Default select example" (change)="obtenerCaracteristicas($event)">
              <option value="" disabled selected>Seleccionar</option>
              <option *ngFor="let familiaItem of familia" [value]="familiaItem.id">{{ familiaItem.familia }}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Caracteristicas del material</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="carcateristicas">
          <ul class="wrapper" *ngIf="caracteristicas.length > 0">
            <li class="icon facebook"  *ngFor="let items of caracteristicas">
                <span class="tooltip">{{items.caracteristica}}</span>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#0284c7" d="M14 12.8c-.5-.49-1.22-.8-2-.8a2.996 2.996 0 0 0-1 5.82a6.034 6.034 0 0 1 3-5.02M11.09 19H5V5h11.17L19 7.83v4.52c.75.26 1.42.65 2 1.19V7l-4-4H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6.81c-.35-.61-.6-1.28-.72-2M6 10h9V6H6v4m9.75 11L13 18l1.16-1.16l1.59 1.59l3.59-3.59l1.16 1.41L15.75 21"/></svg></span>
            </li>
            <!--<li class="icon twitter">
                <span class="tooltip">Twitter</span>
                <span><i class="fab fa-twitter"></i></span>
            </li>
            <li class="icon instagram">
                <span class="tooltip">Instagram</span>
                <span><i class="fab fa-instagram"></i></span>
            </li>-->
        </ul>
        </div>
        <table class="table table-hover" style="text-align: center;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Caracteristica</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Peso</td>
              <td>
                <svg id="accion" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#dc2626" d="M4 8h16v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8Zm3-3V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2h5v2H2V5h5Zm2-1v1h6V4H9Zm0 8v6h2v-6H9Zm4 0v6h2v-6h-2Z"/></svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Siguiente</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Valores del Material</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Show a second modal and hide this one with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Open second modal</button>
      </div>
    </div>
  </div>
</div>

<!--<button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Material</button>-->
<!------------------------------------------------------>


