<body>
  <main>
      <div class="container-fluid">
          <div class="row">
              <!-- CONTENEDOR IZQUIERDO-->
              <div class="col-md-12 image-container">
                  <!-- Imagen del contenedor izquierdo que cambia segun la fecha establecida en el archivo Index.js -->
                  <img id="imagen" src="assets/img-index/Imagen3.jpg" alt="Imagen" class="img-fluid img-extendida">
              </div>
              <!-- CONTENEDOR DERECHO -->
              <div class="col-md-12 main-content-container">
                  <!-- Formulario del contenedor derecho para iniciar sesion -->
                  <form  class="h-100 d-flex flex-column justify-content-center">
                      <!-- Logo de la empresa -->
                      <div class="text-center">
                          <!-- Imagen del logo de la empresa -->
                          <img src="assets/img-logo/Letras_Airtemp.png" class="logo">
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </main>

</body>
