<body>
  <nav class="menu">
    <img src="assets\img-logo\Letras_Airtemp.png">
      <ul>
          <li><a  routerLink="/porCotizar"><i class="fa-solid fa-comment-dollar fa-lg"></i>Por Autorizar</a></li>
          <li><a routerLink="/aprobados"><i class="fa-solid fa-file-invoice-dollar fa-lg"></i>Autorizadas</a></li>
          <li><a routerLink="/cotizacionRechazada"><i class="fa-solid fa-filter-circle-dollar fa-lg"></i>Rechazadas</a></li>
          <li><a routerLink="/cotizacionVencida"><i class="fa-solid fa-hourglass-end fa-lg"></i>Vencidas</a></li>
          <li><a routerLink="/inicio"><i class="fa-solid fa-rotate-left fa-lg"></i>Salir</a></li>
      </ul>
  </nav>
  <div class="header">
    <div class="nombre">
      <p ><i class="fa-solid fa-user-tie fa-lg"></i>Director: Nombre</p>
    </div>
  </div>

<div class="card">
  <div class="table-responsive">
    <h2>Cotizadas por Autorizar</h2>
    <div class="container-fluid my-4">
      <table class="responsive-table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Solicitud</th>
              <th>Cotizacion</th>
              <th>Vigencia</th>
              <th>Autorización</th>
              <th>Analista</th>
              <th>Autorizo</th>
              <th>Estatus</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>sgsdg</td>
                  <td>fsdhf</td>
                  <td>fdsh</td>
                  <td>fdg</td>
                  <td>fggf</td>
                  <td>ffds</td>
                  <td>fgsfd</td>
                  <td>fdsf</td>
                  <td>fds</td>
              </tr>
          </tbody>
      </table>
  </div>
  </div>
</div>
</body>
