<div class="datos">
  <div class="form-floating">
    <strong>ESTATUS</strong>
  </div>
  <div class="form-floating">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <!--<option value="0" selected >Seleccionar</option>-->
      <option value="Nueva">Nueva</option>
    </select>
    <label for="floatingInputValue">Estatus</label>
  </div>
<div class="form-floating">
  <strong>RESPONSABLES</strong>
</div>
<div class="form-floating">
  <input  type="txt" class="form-control" id="floatingInputValue" placeholder="Solicitante">
  <label for="floatingInputValue">Solicitante</label>
</div>
<div class="form-floating">
  <strong>PROVEEDOR</strong>
</div>
<div class="form-floating mb-2">
  <input type="txt" class="form-control" id="floatingInput" placeholder="Codigo">
  <label for="floatingInput">Codigo</label>
</div>
<div class="form-floating">
  <input type="txt" class="form-control" id="floatingInput" placeholder="Razon Social">
  <label for="floatingInput">Razon Social</label>
</div>
<div class="form-floating">
  <strong>Cliente</strong>
</div>
<div class="form-floating mb-2">
  <input type="txt" class="form-control" id="floatingInput" placeholder="Nombre">
  <label for="floatingInput">Nombre</label>
</div>
<div class="form-floating">
  <input type="txt" class="form-control" id="floatingInput" placeholder="Num. Parte">
  <label for="floatingInput">Num. Parte</label>
</div>
<br>
<button> <span>Solicitar</span>
</button>
<br>
</div>
