<body>
  <header>
      <div class="logo">
          <img src="assets\img-logo\Letras_Airtemp.png" alt="Logo">
      </div>
      <nav>
          <ul class="menu">
              <li><a href="#" routerLink="/formSolicitud"><i class="fa-solid fa-user-pen fa-lg"></i>Solicitar Cotización </a></li>
              <li><a routerLink="/aprobados"><i class="fa-solid fa-file-invoice-dollar fa-lg"></i>Cotizadas</a></li>
              <li><a href="#" routerLink="/inicio"><i class="fa-solid fa-right-from-bracket fa-lg"></i>Salir</a></li>
          </ul>
      </nav>
  </header>
  <div class="nombres">
    <p>Nombres:</p>
    </div>

  <div class="table-responsive" id="container" style="width:max-content">
    <div class="container-fluid my-4">
      <table class="responsive-table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Folio</th>
              <th>Fecha Sol.</th>
              <th>Solicitante</th>
              <th>Estatus</th>
              <th>Ver</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Dato 1</td>
                  <td>Dato 2</td>
                  <td>Dato 3</td>
                  <td>Dato 1</td>
                  <td>VerDatos</td>
              </tr>
              <!-- Agrega más filas según sea necesario -->
          </tbody>
      </table>
    </div>
    <div class="masinfo">

    </div>
  </div>


    <!-- FOOTER -->
    <footer class="footer">
      <div class="copy">
        Copyrigth © <span id="año-actual"></span> Airtemp de México S.A de C.V
      </div>
    </footer>


</body>
