    <!--tabla donde se ven las solicitudes-->

    <!--<div class="row" >
      <div class="col">
        <table class="responsive-table table-bordered" >
          <thead>
            <tr>
              <th>Folio</th>
              <th>Id Solicitante</th>
              <th>Estatus</th>
              <th>id proveedor</th>
              <th>id cliente</th>
              <th>Informacion</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let solicitud of solicituds">
                  <td>{{solicitud.id}}</td>
                  <td>{{solicitud.id_solicitante}}</td>
                  <td [ngClass]="{'amarillo': solicitud.estatus === 'Edicion', 'verde': solicitud.estatus !== 'Edicion'}">{{solicitud.estatus}}</td>

                  <td><button (click)="masInfo(solicitud.id)">
                    ver +
                </button></td>
              </tr>
          </tbody>
      </table>
      </div>
      <div class="col-6" >
        //{{infoSelec}}
        {{responseN}}
        //<app-masinfo-soli (newEstado)="addEstado($event)" (newresponder)="addRespuesta($event)" *ngIf="masInformacion==true" [solicitudesId]="infoSelec" [usuarioNom]="nombreSolicitante" [usuarioApe]="apellidoSoli"></app-masinfo-soli>
      </div>
    </div>-->
