<!--SE ARA USO CUANDO SE LE IMPLEMENTE LAS SOLICITUDES VENCIDAS-->
<!--<nav class="navbar bg-primary" >
  <button class="btn" (click)="toggleOffcanvas()">
    <span class="icon">
        <svg viewBox="0 0 175 80" width="40" height="40">
            <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
            <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
            <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
        </svg>
    </span>
    <span class="text">MENU</span>
  </button>
  <form class="form">
    <label for="search">
        <input class="input" type="text" required="" placeholder="Buscar" id="search">
        <div class="fancy-bg"></div>
        <div class="search">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                <g>
                    <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                </g>
            </svg>
        </div>
        <button class="close-btn" type="reset">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
        </button>
    </label>
</form>
</nav>
<div class="offcanvas offcanvas-start" [ngClass]="{ 'show': isOffcanvasOpen }" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header bg-primary">
      <img src="assets\img-logo\Letras_Airtemp.png" class="logo">
      <button type="button" class="btn-close" (click)="closeOffcanvas()" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <button id="btn-menu" (click)="Tabla()">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 496 512">
        Solicitudes
      </button>
      <button id="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 384 512">
        Cotizadas
      </button>
      <button id="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
      </button>
      <button id="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 640 512">
        Salir
      </button>
    </div>
</div>
<div class="grid text-center">
    <div id="uno" class="g-col-6 g-col-md-4">
      <button type="button" class="button" (click)="Nuevo()">
        <span class="button__text">Nuevo</span>
        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2"
          stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
          <line y2="19" y1="5" x2="12" x1="12"></line>
          <line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
      </button>
    </div>
    <app-form-solicitud-c *ngIf="verNuevo"></app-form-solicitud-c>
    <app-form-encabezado *ngIf="verMaterial"></app-form-encabezado>
    <div id="cuatro" class="g-col-6 g-col-md-4" *ngIf="verTabla">
      <div class="table-responsive">
        <h2>SOLICITUDES</h2>
        <div class="container-fluid my-4">
          <table class="responsive-table table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Folio</th>
                  <th>Fecha Solicitud</th>
                  <th>Responsable</th>
                  <th>Proveedor</th>
                  <th>Cliente</th>
                  <th>Estatus</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of tablaData">
                      <td>{{item.id}}</td>
                      <td>{{item.created_at}}</td>
                      <td>{{item.solicitante}}</td>
                      <td>{{item.codProv}}</td>
                      <td>{{item.NomCliente}}</td>
                      <td>{{item.estatus}}</td>
                      <td id="acciones">
                        <div class="add" (click)="formMaterial()">
                          <svg id="add" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                        </div>
                        <div class="see">
                          <svg id="see" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                        </div>
                        <div class="cancel">
                          <svg id="cancel" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>

</div>-->


