<!--<body class="body">
  <div class="container">
    <div class="heading">Iniciar Sesión</div>
    <form action="" class="form">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <input class="login-button" type="submit" value="Ingresar">
    </form>
  </div>
</body>-->

<div class="login-container">
  <div class="login-header">
    <div>Usuario</div>
  </div>
    <form action="" class="form">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
      <input class="login-button" type="submit" value="Ingresar" routerLink="/login/usuario">
    </form>
</div>

